.project-card {
  background-color: #745c97;
  margin-top: 30px;
  margin-bottom: 50px;
  /* box-shadow: 1px 1px #d597ce, 
  2px 2px #d597ce,
  3px 3px #d597ce,
  4px 4px #d597ce,
  5px 5px #d597ce; */
  max-width: 650px;
}

.project-wrapper {
  padding: 1em;
  /* padding-top: 0; */
}

.project-image {
  width: 100%;
}

.project-title {
  font-size: 1.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.projects-section li {
  background-color: #d597ce;
  padding: 10px;
  margin: 10px;
}

.projects-section ul {
  margin-left: -10px;
  justify-content: center;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}

.project-links a {
  color: #fff;
  text-decoration: none;
  border-color: #fff;
  padding: 0;
}

.project-links a:hover {
  /* color: #d597ce; */
  border-color: #d597ce;
}