.about-section {
  min-height: 100vh;
  width: 100%;
  background-color: #745c97;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: #f5b0cb 0.2em solid;
  padding-right: 0.5em;
  width: fit-content;
}

.column > svg {
  background-color: #fff;
  width: fit-content;
  /* border-radius: 5px; */
  /* width: 50%; */
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 1000px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row .column:nth-child(2) {
    justify-content: center;
    text-align: center;
  }

  .column {
    width: 40%;
    max-width: 750px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}