.about-section {
  /* min-height: 100vh; */
  background-color: #745c97;
}

.column > svg {
  background-color: #fff;
  width: fit-content;
  /* border-radius: 5px; */
  /* width: 50%; */
  /* margin: 0 auto; */
  display: block;
}

/* .column:nth-child(2) {
  justify-content: center;
  text-align: center;
} */