.about-section {
  /* min-height: 100vh; */
  background-color: #745c97;
}

.column > svg {
  background-color: #fff;
  width: fit-content;
  /* border-radius: 5px; */
  /* width: 50%; */
  /* margin: 0 auto; */
  display: block;
}

/* .column:nth-child(2) {
  justify-content: center;
  text-align: center;
} */

.grouped-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.grouped-list > li {
  padding: 15px;
  margin: 15px;
  background-color: #39375b;
  border-radius: 7px;
}

@media only screen and (min-width: 1000px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .column {
    width: 40%;
    max-width: 750px;
  }
}