.landing {
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #a29bfe;
  color: white;
  justify-content: center;
  /* border-bottom: 3px black solid; */
}

.landing svg {
  margin-bottom: -112px;
}

h2 {
  text-align: center;
  font-size: 2.3em;
}

.about-section {
  padding: 15px;
  background-color: #fff;
}

.about-section .word-list li{
  background-color: #393E41;
  color: #F6F7EB;
}

@media only screen and (min-width: 1000px) {
  .landing h1 {
    font-size: 5em;
  }

  .landing-container {
    /* margin-top: 100px; */
  }

  .wrapper {
    max-width: 750px;
    margin: 0 auto;;
  }
}