main {
  background-color: #39375b;
  color: #fff;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

main > header {
  background-color: #39375b;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-color: #745c97;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1000px) {
  main > header {
    flex-direction: row;
  }
}