nav a {
  color: #fff;
}

.big-nav {
  margin: 0 auto;
  height: 80%;
}

.big-nav ul {
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.big-nav a {
  -webkit-transition: ease 1s;
  transition: ease 1s;
  text-decoration: none;
  padding: 0.5em;
}

.big-nav a:hover {
  color: #745c97;
  background-color: #fff;
}

.big-nav li {
  font-size: 5em;
}